body{
	background: rgb(242,242,242);
	font-family: 'robotolight', Helvetica, Arial, sans-serif;
}
.content{
	max-width: 1024px;
}
.form-signin{
	width: 300px;
	padding: 15px;
	margin: 0 auto;
	font-family: 'robotolight';
	text-align: center;
}
.form-signin-heading{
	font-weight: 300;
	color: rgb(17,61,79);
}
.logo{
	text-align: center;
}

.menu-top{
	text-align: right;
}
.menu-top-item{
	display: inline;
	font-size: 11px;
}

#header-sistem{
	background: url(../images/header-sistem.jpg) top no-repeat;
	height: 90px;
}
.header-title{
	font-family: 'robotoregular';
	color: rgb(17,61,79);
	text-transform: uppercase;
	/*font-weight: 300;*/
}

.sistem-title,
.sistem-subtitle{
	font-family: 'robotolight';
	text-transform: uppercase;
	color: rgb(17,61,79);
}

#menu-sistem{
	background-color: rgb(29,103,138);	
}

.menu,
.sub-menu{
	text-align: right;
	margin: 0;
}
.menu-item{
	display: inline-block;
	text-align: center;
	font-size: 26px;
	padding: 3px 0px 3px 0px;
	-o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease;
}
.menu-item:hover{
	background: rgb(17, 61, 79);
}

.menu-item a{
	display: block;
	color: rgb(17,61,79);
	width: 40px;
	margin: 0 5px 0 5px;
	padding: 5px 0px 5px 0px;
	-o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease;
}
.menu-item a:hover{
	color: rgba(255,255,255,.85);
}

.sub-menu-item{
	display: inline;
	text-align: center;
	padding: 0 5px 0 5px;
	font-size: 22px;
}
/* Class Action - Utilizada para os icones de ação, e Tooltip*/
.action,
.action:hover{
	text-decoration: none;
}
.icon-action{
	font-size: 18px;
}

.hidden{
	display: none;
}

.handle{
	cursor: move;
	font-size: 18px;
	padding: 0 10px 0 10px;
}
/****** Subscribe *****/
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: lighter;
}
.btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(32, 177, 77);
    border-color: rgb(63, 153, 61);
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease 0s;
}
.btn-primary:hover{
    background-color: rgb(83,185,95);
    border-color: rgb(83,185,95);
}

.text-warning{
	color: rgb(240, 173, 78)
}

.text-warning:hover{
	color: rgb(238, 162, 54)
}

.text-new{
	color: rgb(14,71,154);
}
.text-print{
	color: rgb(152,70,139);
}
.text-export{
	color: rgb(58,149,91);
}
.table{
	font-size: 14px;
}


.upload-file { 
	position: relative; 
	overflow: hidden;
	color: rgb(0,0,0);
	font-size: 18px;
	width: 185px; 
	height:20px;
}
.upload-file em{
	font-size: 12px;
	float: left;
	margin: 0px 0px 0px 25px;
}
.upload-file span { 
	display: block; 
	position: absolute; 
	cursor: pointer;
}
.upload-file input { 
	cursor: pointer;
	position: absolute; 
	right: 0; 
	z-index: 2; 
	font-size: 100px; /* Aumenta tamanho do campo */ 
	opacity: 0; 
	filter: alpha(opacity=0); 
} 
/****** Others ******/
.bs-example:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    /*content: "Example";*/
}

.bs-example {
    margin-right: 0px;
    margin-left: 0px;
    background-color: #FFF;
    border-color: #DDD;
    border-width: 1px;
    border-radius: 4px 4px 0px 0px;
    box-shadow: none;
    /**/
    position: relative;
	padding: 10px 15px 15px; /*45px 15px 15px;*/
	margin: 15px 0 15px 0; /* 0px -15px 15px;*/
	border-style: solid;
}

.fieldBox label{
	font-family: 'robotolight';
	text-transform: uppercase;
	color: rgb(17,61,79);
}

.color{    
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
    background-image: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.bloco-falacias{
	width: 50px;
	height: 15px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 4px;
}

